# Environment Variable Files
.env

**/.env
**/.env.test

# Node Modules
/node_modules
**/node_modules

# Test Results
/frontend/test-results
/test-results

# backend build
/backend/dist
/backend/build

# Terraform Variables
**.tfvars

/cypress/screenshots
/cypress/videos