# Environment Variable Files
.env

**/.env

# Node Modules
/node_modules
**/node_modules

# Test Results
/frontend/test-results
/test-results

# backend build
/backend/dist

# Terraform Variables
**.tfvars